
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
jpro_crowear_hp-animations/.classpath
jpro_crowear_hp-animations/.settings/org.eclipse.core.resources.prefs
jpro_crowear_hp-animations/.settings/org.eclipse.jdt.core.prefs
jpro_crowear_hp-animations/.settings/org.eclipse.m2e.core.prefs
jpro_crowear_hp-shop/.classpath
jpro_crowear_hp-shop/.settings/org.eclipse.core.resources.prefs
jpro_crowear_hp-shop/.settings/org.eclipse.jdt.core.prefs
jpro_crowear_hp-shop/.settings/org.eclipse.m2e.core.prefs
